<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @friend.name %>
</p>

<p>
  <b>Email:</b>
  <%= @friend.email %>
</p>

<p>
  <b>Memo:</b>
  <%= @friend.memo %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
