<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class=>'inputbox' %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_area :memo, :rows=>5, :class=>'inputbox' %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place, :class=>'inputbox' %>
  </div>
  <div class="field">
    <%= f.label :scheduled_at %><br />
    <%= f.datetime_select :scheduled_at, :include_blank=>true, :start_year=>Date.today.year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
