<h1>Groups</h1>
<p>
<%= link_to '新たな「会合」勃発', new_group_path %>
</p>
<table class="list">
  <tr>
    <th>Name</th>
    <th>Memo</th>
		<th>勃発日</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= truncate(group.memo, :length=>10) %></td>
    <td><%= simple_format_time(group.created_at).html_safe %></td>
    <td><%= link_to '修正', edit_group_path(group) %></td>
    <td><%= link_to 'けす', group, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to '参加者追加', new_friend_path("friend[group_id]"=>group.id) %></td>
  </tr>
<% end %>
</table>

<br />

