<h2>Groups</h2>
<div class="small">Only current 5 groups will be shown. I hope it's enough for you.</div>
<%= link_to '[+] Group', new_group_path, "class"=>"mini_button" %>
<% @groups.each do |group| %>
<div class="group_outer">
  <h3><%= group.name %></h3>
  <%= t('helpers.label.group.place') %>:
  <% if group.place && !group.place.blank? %>
    <%= group.place %><br>
  <% else %>
    (not decided yet)<br>
  <% end %>
  <%= t('helpers.label.group.scheduled_at') %>:
  <% if group.scheduled_at && !group.scheduled_at.nil? %>
    <%= simple_time_format(group.scheduled_at) %>
  <% else %>
    (not decided)
  <% end %>
  <div class="group_explanation">
  <div class="small">
    <%=simple_format(group.memo) %>
  </div>
  </div>
  <ul>
    <% group.friends.each do |friend| %> 
    <li>
    <span class="<%= friend.sex == 'm' ? "male" : "female" %>"><%= friend.name %>&nbsp;<%= friend.sex == 'm' ? "♂" : "♀" %>&nbsp;(<%= mail_to(friend.email, friend.email)  %>)</span>
    <%= link_to '[e] edit', edit_friend_path(friend), :class=>"mini_button"  %>
    <%= link_to '[d] destroy', friend, :confirm => 'Are you sure?', :method => :delete, :class=>"mini_button" %>
    </li>
    <% end %>
  </ul>
  <%= link_to '[+] member', new_friend_path("friend[group_id]"=>group.id), :class=>"mini_button" %>
  <%= link_to '[e] edit', edit_group_path(group) , :class=>"mini_button" %> 
  <%= link_to '[-] delete', group, :confirm => 'Are you sure?', :method => :delete, :class=>"mini_button" %> 
  <%= link_to '[m] mail current status', current_status_group_path(group), :confirm => 'Are you sure?', :method => :invite, :class=>"mini_button" %> 
</div>
<% end %>
<br />

