<!DOCTYPE html>
<html>
<head>
  <title>Ousama King - 飲み会幹事さんお助けサービス </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main">
<div id="header">
<h1><%= link_to "Ousama King", root_path %> &alpha;バージョン</h1>
<div align="right">
  [<%= link_to "top", root_path %>]
<% if user_signed_in? %>
  [<%= link_to "logout", destroy_user_session_path %>]
<% end %>
</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<div id="footer">
<span class="small">Three One Systems, Inc. All rights reserved.</span>
<br>
</div>
</div>
</body>
</html>
