<!DOCTYPE html>
<html>
<head>
  <title>OusamakingWeb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main">
<div id="header">
<h1><%= link_to "Ousama King", root_path %></h1>
<span class="small">Made in Japan. The King of the game. </span>
<div align="right">
  [<%= link_to "top", root_path %>]
<% if user_signed_in? %>
  [<%= link_to "logout", destroy_user_session_path %>]
<% end %>
</div>
</div>
<p class="notice"><%= notice %></p>
<%= yield %>
<div id="footer">
[<%= link_to "groups", groups_path %>]
[<%= link_to "friends", friends_path %>]
<br>
<span class="small">Three One Systems, Inc. All rights reserved.</span>
</div>
</div>
</body>
</html>
